﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.item img {
    height: 600px !important;
    /*width: 850px !important;*/
}

/*body {
    /*margin: 0;
    padding: 0;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
   /*min-height: 100vh;*/
    /*background: #031321;
    font-family: Consolas;*/
/*}*/

/*a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    letter-spacing: 4px;
    text-decoration: none;
    font-size:24px;
    overflow:hidden;
    transition:0.2s;
}
    a:hover {
        color: #255784;
        background: #2196f3;
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
        transition-delay: 0.5s;
    }

    a span{
        position: absolute;
        display: block;
    }

        a span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: repeating-linear-gradient(90deg,transparent,#2196f3);
        }

a:hover span:nth-child(1) {
   left:100%;
   transition:1s;
}


a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(90deg,transparent,#2196f3);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay:0.5s;
}
a span:nth-child(2) {
    right: 0;
    top: -100%;
    height: 100%;
    width: 2px;
    background: repeating-linear-gradient(180deg,transparent,#2196f3);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


a span:nth-child(4) {
    left: 0;
    bottom: -100%;
    height: 100%;
    width: 2px;
    background: repeating-linear-gradient(360deg,transparent,#2196f3);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}*/




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul {
    display: flex;
}

    .nav-menu > ul > li {
        position: relative;
        white-space: nowrap;
        padding: 10px 12px;
    }

.nav-menu a {
    text-decoration: none !important;
    color: black;
    display: block;
    position: relative;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 3px;
}

.nav-menu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #ff4a17;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
    visibility: visible;
    width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #ff4a17;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 12px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #15222b;
}

    .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
        color: #ff4a17;
    }

.nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
}

    .nav-menu .drop-down .drop-down > a:after {
        content: "\eaa0";
        font-family: IcoFont;
        position: absolute;
        right: 15px;
    }

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover > ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down > a:after {
        content: "\ea9d";
    }
}


/*Carousel additional styles*/
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Create Form Design */

#orderItemsContainer .card {
    border: 1px solid #ff4a17;
    margin: 15px 0;
}

#orderItemsContainer .remove-question {
    display: block;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    -webkit-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}

.custom-switch .custom-control-label::before {
    width: 3rem;
    height: 1.5rem;
    margin-top: 2px;
}
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ff4a17 !important;
    border-color: #e3471b !important;
}

.custom-switch .custom-control-label::after {
    margin-top: 2px;
    left: calc(-1.4rem + -6px);
    width: calc(1.4rem - 4px);
    height: calc(1.4rem - 4px);
}

.custom-label {
    margin-left: 10px;
    font-size: 16px;
}

.text-warning span {
    color: #ff4a17;
}

.btn-primary {
    background-color: #ff4a17 !important;
    border-color: #e3471b !important;
}

.btn-primary:hover {
    background-color: #e3471b !important;
}

.orange {
    color: #ff4a17 !important;
}

.orange-hover {
    margin-top: 2px !important;
}
.orange-hover:hover {
    color: #ff4a17 !important;
}

.logout {
    margin-top: -7px;
}

#logout {
    font-weight: bold !important;
    color: black !important;
    text-transform: uppercase !important;
}

#logout:hover {
    color: #ff4a17 !important;
}

a.nav-link {
    color: #ff4a17 !important;
}
.nav-link.active {
    background-color: #ffb39e !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #ffb19c !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #ffb19c;
    background-color: none;
    outline: 0 none;
}
