﻿@model Negometrix.Web.Models.CreateFormViewModel

@{
    ViewData["Title"] = "CreateForm";
}


@Html.ValidationSummary(false, "", new { @class = "text-warning" })
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="CreateForm" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FormName" class="control-label"></label>
                <input asp-for="FormName" class="form-control" />
                <span asp-validation-for="FormName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormDescription" class="control-label"></label>
                <input asp-for="FormDescription" class="form-control" />
                <span asp-validation-for="FormDescription" class="text-warning"></span>
            </div>
            <div id="orderItemsContainer">
                @Html.EditorFor(model => model.Questions)
            </div>

            <div class="form-group add-create">
                <div class="row">
                    <div class="col-md-4">
                        <input class="btn btn-default" type="button" id="btnAdd" value="Add question" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Create" class="btn btn-primary" asp-action="Create" />
                    </div>
                </div>
            </div>
            <div>
                <a class="orange" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {
            showMenu();
        });
        $("#btnAdd").on('click', function () {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: '/Form/AddQuestion',
                success:
                    function myfunction(partialView) {
                        $('#orderItemsContainer').html(partialView);
                        showMenu();
                    },
            });

        });

    </script>
}