﻿@model Negometrix.Web.Models.FormViewModel

@{
    ViewData["Title"] = "FormDetails";
}

<h1>FormDetails</h1>

<div>
    <h4>FormViewModel</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>

    <button onclick="document.getElementById('id01').style.display='block'">Share</button>

    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Share">&times;</span>
        <div class="modal-content">
            <div class="container">
                <h1>Share</h1>
                <button onclick="myFunction()">Add Email</button>
                @*<button onclick="myFunction()">Submit</button>*@
                <div class="clearfix" id="12">
                    <button onclick="cancelFunction()">Cancel</button>
                    <span style="border: 0.5px solid gray; padding: 3.5px 5px; background-color: #EEE">
                            <button onclick="Send('@Model.FormId')" style="color: black">Send</button>
                    </span>
                    @*<button type="button" class="deletebtn" id="deleteBtn" asp-controller="User" asp-action="DeleteUser(@item.Id)">Delete</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

