﻿@model IEnumerable<Negometrix.Web.Models.ListFormViewModel>

@{ ViewData["Title"] = "ListAllForms"; }

<p>
    <a class="btn btn-primary"role="button" asp-controller="Form" asp-action="Create">Create New</a>
</p>

<div class="card-columns">

    @foreach (var item in Model)
    {
        <div class="card">
            <img src="https://images.unsplash.com/photo-1590290801255-2877466a6cff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.FormName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.FormDescription)</p>
                <a type="submit" asp-controller="Form" asp-action="Edit" asp-route-id="@item.FormId" class="btn btn-primary">Edit</a>
                <a type="submit" asp-controller="AnswerForm" asp-action="Answers" asp-route-id="@item.FormId" class="btn btn-primary">Answers</a>
                <a type="submit" asp-controller="Form" asp-action="DetailsList" asp-route-id="@item.FormId" class="btn btn-primary">Share</a>
                <a type="submit" asp-controller="AnswerForm" asp-action="Index" asp-route-id="@item.FormId" class="btn btn-primary">Preview</a>
            </div>

            <div class="card-footer">
                @if (item.ModifiedOn != null)
                {
                    <small class="text-muted">Last updated @item.ModifiedOn</small>
                    <small class="text-muted">Questions: @item.QuestionsCount</small>
                }
                else
                {
                    <small class="text-muted">Created @item.CreatedOn</small>
                }
            </div>
        </div>
    }
</div>