﻿@model IEnumerable<Negometrix.Web.Models.ListFormViewModel>

@{
    ViewData["Title"] = "userFormModels";
}

<h1>userFormModels</h1>

<p>
    <a class="orange" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionsCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
