﻿
@{
    ViewData["Title"] = "AnswerFormCreated";
}
   
<br />
        <div class="alert alert-success" role="alert">
            <h1 class="display-1">
                <strong>Well done!</strong> You successfully have answered the form!
            </h1>
        </div>
