﻿@model Negometrix.Web.Models.AnswerForms.CreateAnswerFormViewModel

@{
    ViewData["Title"] = "AnswerFormDetails";
}
    <head>
        <title>Answer Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
<h1>AnswerFormDetails</h1>

<div>
    <h4>CreateAnswerFormViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerFormName)
        </dt>
        <dd class="col-sm-10">
            <input type="text" id="country" name="country" value="@Html.DisplayFor(model => model.AnswerFormName)" readonly>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerFormDescription)
        </dt>
        <dd class="col-sm-10">
            <input type="text" id="country" name="country" value="@Html.DisplayFor(model => model.AnswerFormDescription)" readonly>
        </dd>
    </dl>
</div>

<div id="orderItemsContainer">
    @foreach (var item in Model.Answers)
    {
    <div>
        <h3>@item.Question.Name @item.Question.Description</h3>
        <div class="custom-control custom-switch text none">
            @if (item.Question.IsRequired == true)
            {
                <input type="checkbox" class="custom-control-input" checked>
                <label class="custom-control-label">Required</label>
                <br>
            }
            else
            {
                <input type="checkbox" class="custom-control-input" unchecked>
                <label class="custom-control-label">Not Required</label>
                <br>
            }
            @if (item.Question.QuestionType.QuestionTypeName == "text")
            {
                @if (item.Question.IsLong == true)
                {
                    <input type="checkbox" class="custom-control-input" checked>
                    <label class="custom-control-label">Long</label>
                    <br>
                }
                else
                {
                    <input type="checkbox" class="custom-control-input" unchecked>
                    <label class="custom-control-label">Short</label>
                    <br>
                }
            }
            else if (item.Question.QuestionType.QuestionTypeName == "option")
            {
                @if (item.Question.IsMultiple == true)
                {
                    <input type="checkbox" class="custom-control-input" checked>
                    <label class="custom-control-label">Multiple</label>
                    <br>
                }
                else
                {
                    <input type="checkbox" class="custom-control-input" unchecked>
                    <label class="custom-control-label">Single</label>
                    <br>
                }
                foreach (var optionItem in item.Question.Options)
                {
                    <input type="text" id="country" name="country" value="@optionItem" readonly>
                    <br>
                }
            }
            else
            {
                <div>
                    <select class="chosen-files">
                        <option value="@item.Question.NumberOfFiles">@item.Question.NumberOfFiles</option>
                    </select>
                    <br>
                    <select class="chosen-size">
                        <option value="@item.Question.MaxSize">@item.Question.MaxSize</option>
                    </select>
                </div>
            }
        </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
