﻿@model Negometrix.Web.Models.AnswerForms.CreateAnswerFormViewModel

@{
    ViewData["model"] = "CreateAnswerForm";
    Random random = new Random();
    int rndP = random.Next();
    var partialId = "size" + rndP.ToString();
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" />
</head>

<form asp-action="CreateAnswerForm" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        @Html.HiddenFor(model => model.FormId)
        @Html.HiddenFor(model => model.AnswerFormName)
        @Html.HiddenFor(model => model.AnswerFormDescription)

        <h4>CreateAnswerFormViewModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnswerFormName)
            </dt>
            <dd class="col-sm-10">
                <input type="text" asp-for="@Model.AnswerFormName" name="country" value=" @Html.DisplayNameFor(model => model.AnswerFormName)" readonly>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnswerFormDescription)
            </dt>
            <dd class="col-sm-10">
                <input type="text" asp-for="@Model.AnswerFormDescription" name="country" value="@Html.DisplayNameFor(model => model.AnswerFormDescription)" readonly>
            </dd>
        </dl>
    </div>

    <div>
        @for (int i = 0; i < Model.Answers.Count; i++)
        {
            @Html.HiddenFor(model => model.Answers[i].Question.FormId)
            @Html.HiddenFor(model => model.Answers[i].Question.QuestionId)

            <div style="display: none;">@Html.EditorFor(model => model.Answers[i].Question)</div>
            <div class="jumbotron">
                <div class="form-group custom-control custom-switch text none">
                    <h1 class="display-3">@Model.Answers[i].Question.Name @Model.Answers[i].Question.Description</h1>

                    @if (Model.Answers[i].Question.IsRequired == true)
                    {
                        <input type="checkbox" class="custom-control-input" checked>

                        <label class="custom-control-label"><span class="custom-label">Required</span></label>
                        <br>
                    }
                    else
                    {
                        <input type="checkbox" class="custom-control-input" unchecked>

                        <label class="custom-control-label">Not Required</label>
                        <br />
                    }
                    @if (Model.Answers[i].Question.QuestionType.QuestionTypeName == "text")
                    {
                        @if (Model.Answers[i].Question.IsLong == true)
                        {
                            <input type="checkbox" class="custom-control-input" checked>
                            <label class="custom-control-label">Long</label>
                            <div class="form-group green-border-focus shadow-textarea">
                                <span asp-validation-for="@Model.Answers[i].TextResult" class="text-warning"></span>
                                <textarea asp-for="@Model.Answers[i].TextResult" class="form-control"></textarea>
                            </div>
                            <br>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" unchecked>
                            <label class="custom-control-label">Short</label>

                            <span asp-validation-for="@Model.Answers[i].TextResult" class="text-warning"></span>
                            <input type="text" asp-for="@Model.Answers[i].TextResult" class="form-control" />
                        }
                    }
                    else if (@Model.Answers[i].Question.QuestionType.QuestionTypeName == "option")
                    {
                        @if (@Model.Answers[i].Question.IsMultiple == true)
                        {

                            <select class="form-control form-control-sm" multiple asp-for="@Model.Answers[i].OptionsResult" asp-items="@(new SelectList(@Model.Answers[i].Question.Options,"Options"))">
                                @for (int z = 0; z < Model.Answers[i].Question.Options.Count; z++)
                                {
                                    <option>@Model.Answers[i].OptionsResult</option>
                                }
                            </select>
                            <br>
                            <input type="checkbox" class="custom-control-input" checked>
                            <label class="custom-control-label">Multiple</label>

                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" unchecked>
                            <label class="custom-control-label">Single</label>
                            <br>

                            <div class="form-check-inline">
                                <span asp-validation-for="@Model.Answers[i].OptionsResult" class="text-warning"></span>
                                @for (int z = 0; z < Model.Answers[i].Question.Options.Count; z++)
                                {
                                    <label class="form-check-inline">
                                        <input type="radio" asp-for="@Model.Answers[i].OptionsResult" value="@Model.Answers[i].Question.Options[z]" class="form-check-inline" />
                                        @Model.Answers[i].Question.Options[z]
                                    </label>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <p>Upload one or more files</p>
                        <input class="size" type="file" asp-for="@Model.Answers[i].Files" multiple />
                        <script type="text/javascript" hidden>

                            $('#' + 'Answers_' +@i+'__Files').bind('change', function () {
                                //TODO: Add proper message if one file : this file size is,
                                //else if more than one file: First / Second file is
                                for (var i = 0; i < @Model.Answers[i].Question.NumberOfFiles; i++) {
                                    if ((this.files[i].size / 1024 / 1024) > @Model.Answers[0].Question.MaxSize) {
                                    alert('This file size is: ' + this.files[0].size / 1024 / 1024 + "MB");
                                    $('#' + 'Answers_' +@i+'__Files').val('')
                                }
                                }
                            });
                        </script>
                    }
                </div>
            </div>

        }
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}