﻿@model IEnumerable<Negometrix.Web.Models.AnswerForms.ListAnswerFormViewModel>

@{
    ViewData["Title"] = "ListAllAnswerForms";
}
<head>
    <style>
        /* Set a background image by replacing the URL below */
        body {
            background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
</head>

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div class="card-columns">
                @foreach (var item in Model)
                {

                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1498612753354-772a30629934?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" class="card-img-top" alt="Environment Frindly We Are">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.AnswerFormName)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.AnswerFormDescription)</p>
                            <a type="submit" asp-controller="AnswerForm" asp-action="PreviewAnswer" asp-route-id="@item.AnswerFormId" class="btn btn-primary">Preview</a>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted">Created @item.CreatedOn</small>
                            <small class="text-muted">Questions: @item.QuestionsCount</small>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>