﻿@model Negometrix.Web.Models.AnswerForms.CreateAnswerFormViewModel

@{
    ViewData["Title"] = "PreviewAnsweredForm";
}
<head>
    <style>
        /* Set a background image by replacing the URL below */
        body {
            background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
</head>
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="font-weight-light">Form Name: @Model.AnswerFormName </h1>
            <p class="lead">@Model.AnswerFormDescription</p>

            @for (int i = 0; i < Model.Answers.Count; i++)
            {
                <div class="jumbotron">
                    <h3 class="display-3">@Model.Answers[i].Question.Name</h3>

                    @if (Model.Answers[i].Question.Description != null)
                    {
                        <h6 class="display-4">Model.Answers[i].Question.Description</h6>
                    }
                    @if (Model.Answers[i].Question.QuestionType.QuestionTypeName == "text")
                    {
                        <h5 class="display-4">@Model.Answers[i].TextResult</h5>
                    }
                    else if (Model.Answers[i].Question.QuestionType.QuestionTypeName == "document")
                    {
                        for (int z = 0; z < Model.Answers[i].FileLinksResult.Count; z++)
                        {
                            <a href="@Model.Answers[i].FileLinksResult[z]" download class="btn btn-primary stretched-link">File @z</a>
                        }
                    }
                    else
                    {
                        for (int y = 0; y < Model.Answers[i].OptionsResult.Count; y++)
                        {
                            <p>Option @y: @Model.Answers[i].OptionsResult[y]</p>
                        }
                    }
                </div>
                <br />
            }
            <p class="lead mb-0">You've reached the end!</p>
        </div>
    </div>
</div>