﻿@using Negometrix.Web.Models.Questions.QuestionTypes;
@model Negometrix.Web.Models.Questions.CreateQuestionViewModel

@{
    ViewData["Title"] = "CreateQuestion";

}



<h1>CreateQuestion</h1>

<h4>CreateQuestionViewModel</h4>

<select onchange="test(this)" id="selectedOption" class="form-control">

    <option value="none">None</option>
    @foreach (var item in ViewData["QuestionTypeList"] as ICollection<QuestionTypeViewModel>)
    {
        <option value="@item.QuestionTypeName">@item.QuestionTypeName Choice</option>
    }
</select>
<div id="chosenView">   </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function test(choice) {
        if (choice.value == "Text") {
            
            $('#chosenView').append('<div>' +
                '<input name="mytext[]"><br>' +
                '<textarea name="desc[]"></textarea>' +
                '<a href="#" class="remove_field">Remove</a>' +
                '</div>');
        }
        else if (choice.value == "Single" || choice.value=="Multiple") {
            console.log(choice.value);
        }
        
    } 
</script>

}
