﻿@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080'); height:20%">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Free Form Creator</h2>
                    <p class="lead">Paperless for life.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080'); height:20%">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Second Slide</h2>
                    <p class="lead">This is a description for the second slide.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080'); height:20%">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Third Slide</h2>
                    <p class="lead">This is a description for the third slide.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<section class="p-3 mb-2 bg-light text-dark">
    <div class="container" style="text-align:center;">
        <h1 class="display-4">Impacts when using our platform</h1>
        <p class="lead">
            A long time ago creating forms and collection all the information was a disaster<br />
            Not only for the people who carried all the documents, but for the environment
        </p>
    </div>
</section>
<br />
<div class="container">
    <div class="row text-xl-center">
        <div class="col-sm ">
            <img src="https://image.flaticon.com/icons/svg/3039/3039869.svg" width="90px" height="90px" /><br />
            <h6>Out platform is paperless</h6><br />
            <p class="lead">Using our platform will prevent the environment from millions of cut woods in future</p><br />
        </div>
        <div class="col-sm">
            <img src="https://image.flaticon.com/icons/svg/2983/2983973.svg" width="90px" height="90px" /> <br />
            <h6>Latest technologies</h6><br />
            <p class="lead">
                We use the all the latest technologies in our branch. So if any other platform has something we do not have, we will add it immediately
            </p>
        </div>
        <div class="col-sm">
            <img src="https://image.flaticon.com/icons/png/512/3029/3029119.png" width="90px" height="90px" /> <br />
            <h6>Any Time</h6><br />
            <p class="lead">You can modify your forms infinite number of times</p><br />
        </div>
    </div>
</div>
