﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<br />


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Our Team</h1>
            <p class="lead">Should you need any further information, please do not hesitate to contact me</p>
        </div>
    </div>


<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div  class="col-6">
            <div class="card border-0 shadow">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQE45ECqcaDH0Q/profile-displayphoto-shrink_200_200/0?e=1597276800&v=beta&t=fN8Bz1OYH1SEf-GOFfeyU1U3f4li5ht16UBhZovzd5Y" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Ivaylo Gramatikov</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                    <p class="lead">Email: ivailogramatikov05@gmail.com</p>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div  class="col-6">
            <div class="card border-0 shadow">
                <img src="~/Images/telerik3.jpg" class="card-img-top" alt="2" >
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Boncho Dikov</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                    <p class="lead">Email: bonchodikov@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
