﻿@model Negometrix.Web.Models.Questions.CreateQuestionViewModel


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}

@{
    Random random = new Random();
    int rndP = random.Next();
    var partialId = rndP.ToString();
}
<div class="card" id="row-@partialId">
    <div class="col-md-12">

        <h3>Question</h3>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">

            <input type="button" class="btn btn-light remove-question" id="RemoveQuestionBtn" onclick="removeQuestion(@partialId)" value="Remove Question" />
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-warning"></span>

            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-warning"></span>

            <select asp-for="QuestionType.QuestionTypeName" class="custom-select chosen-option"
                    onchange="manipulateDataBasedOnSellectedOption(this,@partialId)"
                    data-optionid="@partialId">

                <option value="none">none</option>
                <option value="text">text</option>
                <option value="document">document</option>
                <option value="option">option</option>

            </select>

            @{var isRecId = Guid.NewGuid();}

            <div class="custom-control custom-switch">
                <input asp-for="IsRequired" type="checkbox" class="custom-control-input" id="@isRecId">
                <label asp-for="IsRequired" class="custom-control-label" for="@isRecId"><span class="custom-label">Required</span></label>
            </div>

            <div id="@partialId">
                <div style="display:none" id="text-@partialId">
                    @{var isLong = Guid.NewGuid();}

                    <div class="custom-control custom-switch text none">
                        <input asp-for="IsLong" type="checkbox" class="custom-control-input" id="@isLong">
                        <label asp-for="IsLong" class="custom-control-label" for="@isLong"><span class="custom-label">Long Answer</span></label>
                    </div>
                </div>

                <div style="display:none" id="option-@partialId">
                    @{var isOption = Guid.NewGuid();}
                    <div class="optionControll" id="addOptionHere-@partialId">
                        <ul>
                            @for (int i = 0; i < Model.Options.Count; i++)
                            {
                                <li>
                                    <label asp-for="@Model.Options[i]"></label>
                                    <input asp-for="@Model.Options[i]" />
                                    <span asp-validation-for="Options[i]" class="text-warning"></span>
                                    <input type="button" onclick="removeOption(@i,@partialId)" style="color: black" id="remove.@partialId-divRemoveOpt-@i" value="Remove" />
                                </li>
                            }
                        </ul>
                    </div>

                    <input type="button" id="AddOptionBtn-@partialId" class="btn btn-light" onclick="addOption(@partialId)" value="Add Option" />
                    <div class="custom-control custom-switch text none">
                        <input asp-for="IsMultiple" type="checkbox" class="custom-control-input" id="@isOption">
                        <label asp-for="IsMultiple" class="custom-control-label" for="@isOption"><span class="custom-label">Multiple Answer</span></label>
                    </div>
                </div>

                <div style="display:none" id="document-@partialId">
                    <select asp-for="NumberOfFiles" class="custom-select chosen-files">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <select asp-for="MaxSize" class="custom-select chosen-size">
                        @for (int i = 0; i < 4; i++)
                        {
                            <option value="@(1*Math.Pow(10,i))">@(1*Math.Pow(10,i)) MB</option>
                        }
                    </select>
                </div>
                <div style="display:none" class="custom-control custom-switch text none">
                    <input asp-for="IsDeleted" type="checkbox" class="custom-control-input" id="isDel-@partialId">
                    <label asp-for="IsDeleted" class="custom-control-label" for="@partialId">Delete Question</label>
                    <input asp-for="ChoseOptionToRemove" class="custom-control-input" id="optDel-@partialId">
                    <label asp-for="ChoseOptionToRemove" class="custom-control-label" for="@partialId">Delete Question</label>
                </div>
            </div>
        </div>
    </div>
</div>
